<html>
    <head>
            <title>PRIME+ | MEMORY </title>
        {% load static %}
        <link href="{% static '/css/proview.css' %}" rel="stylesheet">
    </head>
    <body bgcolor="black">
           <center>
                <div>
                        {% for memory in CMemory %}
        
                        <ul>
                            <li>
                                    <a href="/my/{{memory.id}}"><img src="{{memory.image}}" width="250" height="250"></a>
                                <h3><font color="magenta"><a href="/my/{{memory.id}}">{{memory.name}}</a></font></h3>
                            </li>
                        </ul>
                        {% endfor %}
                        <form action="http://127.0.0.1:8000/index/">
                            <input type="submit" value="BACK TO HOME">
                        </form>
                     </div>
           </center>
    </body>
</html>