<!DOCTYPE html>
<html lang="en">
<head>
	<title>PRIME+ | Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="/save/" method="POST" class="login100-form validate-form">
					{% csrf_token %}
					<span class="login100-form-title p-b-34">
						Account Creation
					</span>
					<table>
					<tr>
						<td>NAME:</td>
						<td>
								<div><center><input  class="input100" type="text" name="name" placeholder="Name" required></center></div>
										
						</td>
					</tr>
					
					<tr>
							<td>GENDER</td>
						<td>
								<div><center><input  type="radio" name="gender" value="F" required>Female
									<input type="radio" name="gender" value="M" required>Male
									<input type="radio" name="gender" value="O" required>Other</center></div>
						

										
						
						</td>
					</tr>

					
					<tr>
							<td>DOB</td>
						<td>
							<div><center><input  class="input100" type="date" name="dob" placeholder="00/00/0000" required></center></div>
								
										
								
						</td>
					</tr>

					<tr>
							<td>EMAIL</td>
						<td>
								<div><center><input  class="input100" type="text" name="email" placeholder="email@mail.com" required></center></div>			
						</td>
					</tr>


                    <tr>
							<td>USERNAME</td>
						<td>
								<div><center><input  class="input100" type="text" name="uname" placeholder="username" required></center></div>		
						</td>
					</tr>
					<tr>
							<td>PASSWORD</td>
						<td>
								<div><center><input class="input100" type="password" name="password" placeholder="password" required></center></div>								
						</td>
					</tr>
					<tr>
						<td>
								<div class="container-login100-form-btn">
										<button class="login100-form-btn">
											Sign Up
										</button>
									</div>
						</td>
					</tr>
					
					<tr>
						<td>
								<div class="w-full text-center p-t-27 p-b-239">
										<a href="http://127.0.0.1:8000/login/" class="txt3">
											Login
										</a>
								</div>
						</td>
					</tr>
				</table>
				</form>

				<div class="login100-more"><img src="{% static '/images/signupbutton.jpg' %}" width="600" height="1050" /></div>
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/js/main.js' %}"></script>

</body>
</html>