<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="https://www.Zerotheme.com">
	
    <title>PRIME+ | SinglePage</title>
	
    <!-- Bootstrap Core CSS -->
	<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/css/menu.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
	<link href="{% static '/css/style.css' %}" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="{% static '/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="{% static '/js/jquery-2.1.1.js' %}"></script>
	<script src="{% static '/js/bootstrap.js' %}"></script>
	<script src="{% static '/js/html5shiv.js' %}"></script>\
	<script src="{% static '/js/respond.js' %}"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Header-->
	<header class="sub-header">
	
		<div class="container text-center">
			<a class="site-branding" href="index.html">
				<h1 class="site-title">
					PRIME+
				</h1>
				<p class="site-description">
					NEW WORLD - DIGITAL WORLD
				</p>
			</a><!-- .site-branding -->
		</div>
		
		<!--Navigation-->
		<div id="menu-wrapper">
			<nav id="menu" class="navbar">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
								<div class="dropdown-menu">
									<div class="dropdown-inner">
										<ul class="list-unstyled">
											<li><a href="#">Login</a></li>
											<li><a href="#">Register</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="dropdown"><a href="archive.html" class="dropdown-toggle" data-toggle="dropdown">Category</a>
								<div class="dropdown-menu" style="margin-left: -203.625px;">
									<div class="dropdown-inner">
										<ul class="list-unstyled">
											<li><a href="#">Text 301</a></li>
											<li><a href="#">Text 302</a></li>
											<li><a href="#">Text 303</a></li>
											<li><a href="#">Text 304</a></li>
											<li><a href="#">Text 305</a></li>
										</ul>
										<ul class="list-unstyled">
											<li><a href="#">Text 306</a></li>
											<li><a href="#">Text 307</a></li>
											<li><a href="#">Text 308</a></li>
											<li><a href="#">Text 309</a></li>
											<li><a href="#">Text 310</a></li>
										</ul>
										<ul class="list-unstyled">
											<li><a href="#">Text 311</a></li>
											<li><a href="#">Text 312</a></li>
											<li><a href="#">Text 313</a></li>
											<li><a href="#">Text 314</a></li>
											<li><a href="#">Text 315</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li><a href="archive.html">Blog</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		
	</header>
	<!-- /Section: intro -->
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		
		<div class="box-content">
			<div class="container-fluid">
			
				<!-----------------Content-------------------->
				<article class="single-post">
					<div class="wrap-post"><!--Start Box-->
						<div class="entry-header text-center">
							<h1 class="entry-title">RETRO GALLERY: FRAGMENTING PERSISTENT FLIGHT AND PATHOLOGY</h1>
							<span class="entry-meta">
								<ul class="list-inline link">
									<li>By <a href="#">BUSINESS</a></li>
									<li><a href="#">August, 22 2016</a></li>
									<li><a href="#">0 comments</a></li>
								</ul>
							</span>
						</div>
						<div class="post-thumbnail-wrap">
							<div class="portfolio-box">
								<img src="{% static 'images/single.jpg' %}" class="img-responsive" alt="">
							</div>
						</div>
						<div class="entry-content">
							<div class="excerpt"><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum exercitation ullamco laboris nisi ut aliquip.</p></div>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.</p>
							<h2>Heading 1</h2>
							<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse lorem ipsum dolor sit amet.</p>
							<h2>Heading 2</h2>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo.</p>
							<h2>Heading 3</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum hendrerit in vulputate velit esse molestie.</p>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
							<p><code>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</code></p>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
							<div class="note">
							  <ol>
								<li>Lorem ipsum</li>
								<li>Sit amet vultatup nonumy</li>
								<li>Duista sed diam</li>
							  </ol>
							  <div class="clear"></div>
							</div>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
						</div>
					</div>
				</article>
				
			</div>	
			<div class="container-fluid">
				<div class="row">
					<!-----------------Comments-are-------------------->
					<div class="comments-are">
						<div id="comment">
							<h3>Leave a Reply</h3>
							<span>Your email address will not be published. Required fields are marked </span>
							<form name="formcomment" method="post" action="">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control input-lg" name="name" id="name" placeholder="Your Name" required="required" />
										</div>
										<div class="form-group">
											<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Your Email" required="required" />
										</div>
										<div class="form-group">
											<input type="number" class="form-control input-lg" name="phone" id="phone" placeholder="Your Phone Number" required="required" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required" placeholder="Message"></textarea>
										</div>	
									</div>
								</div>
								<button type="submit" class="btn btn-skin btn-sm" name="submitcomment">send</button>
							</form>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
		
	<footer class="sub-footer">
		<div class="wrap-footer">
			<div class="container">
				<ul class="list-inline top-link link">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Google +</a></li>
					<li><a href="#">Pinterest</a></li>
				</ul>
				<div class="copyright">
					<span>Copyright © 20xx - Designed by <a href="https://www.Zerotheme.com" target="_blank">Zerotheme</a></span>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="{% static '/js/bootstrap.min.js' %}"></script>
	
	<script>
		$(function() {
			$('#menu-wrapper').height($("#menu").height());
			
			$('#menu').affix({
				offset: { top: $('#menu').offset().top }
			});
		});
	</script>
</body>
</html>